
Hud
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;

    .money
    {
        position: absolute;
        right: 64px;
        bottom: 32px;
        gap: 10px;
    }

    .money
    {
        background-color: #0004;
        border-radius: 3px;
        padding: 10px 20px;
        color: white;
        font-weight: bolder;
        font-size: 30px;
        font-family: poppins;
        justify-content: center;
        align-items: center;
        gap: 16px;
        backdrop-filter: blur( 20px );

        .value
        {
        }

        .icon
        {
            font-family: Material Icons;
            opacity: 0.2;
        }

        .subvalue
        {
            padding-top: 6px;
            opacity: 0.5;
            font-size: 16px;
        }
    }
}
