UTCTime {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(64, 64, 64, 0.5);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;

    .title {
        font-size: 96px;
        font-family: Poppins;
        color: white;
    }
}
